body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

.game-container {
    border: 2px solid white;
}

canvas {
    background-color: #000;
    display: block;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: black;
}

.controls {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.control-button {
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}

.control-button:hover {
    background-color: white;
    color: white;
}

.controls div {
    display: flex;
}

#upButton {
  color: black;
  width: 50px;
  height: 50px;
}

#leftButton {
  color: black;
  width: 50px;
  height: 50px;
}

#rightButton {
  color: black;
  width: 50px;
  height: 50px;
}

#downButton {
  color: black;
  width: 50px;
  height: 50px;
}